/vendor/
node_modules/
composer.lock
composer.phar
package-lock.json
bootstrap/compiled.php
/bkp_10_08_21.zip
/12_10_2021_bkp.zip
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/jsonfiles/*
public/3dviewer_/*
public/3D_Model_viwer/*
public/fbx_files_upload/*
public/ckfinder/*
public/3dviewer/*
public/nouman/*
public/ckeditor/*
public/thirdparty3Dapp/*
public/assets/img/*
public/*.json
ckfinder
_gsdata_/*
buildingtree/*
cgi-bin/*

/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/test*

# ignore log files and databases
*.log
#*.sql
#*.sqlite
# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.csv
*.doc
*.docx
*.pdf
*.xls
*.rtf
*.fbx

# Ignore user created files :)
*.bak
*.orig
# Ignore system files
.bash_history
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
RELEASE_NOTES.txt
.ssh/
error_log
152_1_Admin.json
.ftpquota
.editorconfig

public/.well-known/

deploy.sh